* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(105, 105, 105);
}

body {
    background-image: url("../img/fotoleopoldo.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background
}